<h1>Listing Rooms</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.title %></td>
      <td><%= room.text %></td>
      <td><%= link_to 'Show', room_path(room) %></td>
    </tr>
  <% end %>
</table>